.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px; /* Space below the header */
  padding-top: 0px; /* Space below the header */
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 0px;
  margin-left: 0px;
  max-width: 100vw;
}


.homepage-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 30px;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 0px;
  margin-left: 0px;
  margin-left: 0px;
  margin-right: 0px;
  min-height: fit-content;
  height: 100vw;
  width: 110vw; /* Adjusts for padding */
  margin-top: 30px; /* Adjust according to your header height */
  padding-bottom: 100px; /* Space below the header */
  background-color: #f5f8fa;
  justify-content: center;
  align-items: center; /* Center items properly */
  box-sizing: border-box; /* Prevents padding from adding extra width */
  
}


/* Ensuring it doesn't affect the header */
.posts-container,
.trends-container,
.sugg-container,
.tweet-container {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 80%; /* Adjust the width to avoid stretching */
  /* Prevent it from getting too large on wide screens */
}

/* For posts section */
.posts-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* Three equal columns */
  gap: 20px;
}



.post {
  background-color: #f7f7f7;
  padding: 15px;
  border-radius: 10px;
}

.post-header {
  display: flex;
  gap: 10px;
  align-items: center;
}

.avatar {
  border-radius: 50%;
}

.username {
  font-weight: bold;
}

.timestamp {
  color: gray;
}
/* Load More Button */
.load-more {
  background-color: #FF6B6B;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
  text-align: center;
}

.load-more:hover {
  background-color: #0d8edb;
}
