
.header {
  background-color: #008080;
  color: white;
  padding: 10px 20px;
  width: 100%;
  height: 52px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; 
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo h1 {
  margin: 0;
  font-size: 1.5rem;
  padding-right: 60px;
}

.logo-header {
  width: 40px; /* Adjust the size as needed */
  height: auto;
  border-radius: 8px; /* Optional: Add rounded corners */
}

.nav-container {
  display: flex;
  justify-content: right; 
  align-items: center;
  margin-right: 5px;
}

.header-overlay {
  position: absolute; /* Ensures it stays on top of your content */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.0.5); /* Translucent black background */
  backdrop-filter: blur(0.1px); /* Frosted glass effect */
  -webkit-backdrop-filter: blur(0px) saturate(130%);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 1; /* Set it behind the content, so you can interact with the page */
  pointer-events: none; /* This allows clicks to pass through the overlay */
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  color: #f1efef;
  text-decoration: none;
  font-size: 1 rem;
  transition: opacity 0.3s;
}

.nav-links a:hover {
  opacity: 0.8;
}

.logout-button {
  background: none;
  border: none;
  color: #f1efef; 
  font-size: 0.95rem; 
  cursor: pointer;
  text-decoration: none;
  transition: opacity 0.3s;
  padding: 0;
  display: flex;
}

.logout-button:hover {
  opacity: 0.8;
}


.search-section {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 10px; 

}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 400px;
}

.search-input {
  padding: 5px 10px; 
  border: 1px solid #593434;
  border-radius: 25px; 
  width: 100%;
  background-color: #fefefe
}

.search-submit {
  background: none;
  border: none;
  border-color: #008080;
  position: absolute;
  right: 5px; 
  font-size: 18px; 
  cursor: pointer;
  transform: scaleX(-1);
  padding: 0%;
  color: gray;
}

.search-submit:focus {
  outline: none; 
}

.search-submit:hover {
  color: #404040; 
}



